/* Declaracion de colores */
:root {
    --navbar-footer:#024959;
    --segundo-azul: #03658C;
    --tercer-azul:#52A8F2;
    --dorado:#D9A23D;
  }

*{
    margin: 0;
}
/* navbar */
#header{
  position: relative!important;
  background-color: var(--navbar-footer)!important;
  text-align: end!important;
  color:white!important;
}

#navbar-nav{
  display: flex;
  justify-content: space-around;
}

#logoNavbar{
  text-align: start;
}

.logoGeoda{
  width: 10rem;
}

a{
  font-size: 1.5rem!important;
  text-decoration: none!important;
  color: white!important;
  
}

a:hover{
  color: var(--dorado)!important;
  text-decoration-line: var(--dorado) !important;
}

/* Contenido main */

#main{
  position: relative;
  min-height: 74vh;
  padding-top: 0;
  padding-bottom: 0;
}

#banner1 {
  margin:0;
  height: 74vh;
  background-image: url(./assets/puerto1.jpg);
  object-fit: contain;
  object-position: center;
  text-align: center;
}

#banner2 {
  height: 74vh;
  background-image: url(./assets/puerto1.jpg);
}

#banner3 {
  height: 74vh;
  background-image: url(./assets/puerto1.jpg);
}

/* footer */

#footer{
  position: relative;
  background-color: var(--navbar-footer);
  text-align: center;
  min-height: 5rem;
}

.redes{
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.logos{
  width: 2rem;
}

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
  .navbar{
    display: flex;
    flex-direction: column;
  }

}

/*landscape*/
@media (min0-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {


}
/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
  .navbar{
    display: flex;
    flex-direction: column;
  }

}
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {


}
/*fin movil*/